<script type="text/javascript">//<![CDATA[
(function() {
	function updateStatus() {
		var nodes = document.querySelectorAll('.singbox-server-status');
		if (!nodes.length) return;
		XHR.get('<%=url([[admin]], [[services]], [[singbox_server]], [[server_user_status]])%>', null, function(x, data) {
			if (!data) return;
			nodes.forEach(function(node) {
				var id = node.getAttribute('data-id');
				if (data[id]) {
					node.innerHTML = '<em style="color:green"><%:Running%></em>';
				} else {
					node.innerHTML = '<em style="color:red"><%:Not Running%></em>';
				}
			});
		});
	}
	updateStatus();
	setInterval(updateStatus, 5000);
})();
//]]></script>
